## Lab P7

In [1]:
import numpy as np
import re 
employee_table = np.array([
    ('1000', 'Torbati', 'Yolanda', 'F', 'Programmer'),
    ('1001', 'Kleinn', 'Joel', 'M', 'Programmer'),
    ('1002', 'Ginsburg', 'Laura', 'F', 'President'),
    ('1003', 'Cox', 'Jennifer', 'F', 'Programmer'),
    ('1005', 'Ziada', 'Mauri', 'M', 'Product Designer'),
    ('1006', 'Keyser', 'Cara', 'F', 'Account Executive'),
    ('1010', 'Smith', 'Roixe', 'M', 'Programmer'),
    ('1011', 'Nielson', 'Robert', 'M', 'Programmer'),
    ('1012', 'Sachsen', 'Lars', 'M', 'Support Technician'),
    ('1013', 'Shannon', 'Don', 'M', 'Product Designer'),
],
dtype=[
    ('Emp_Id', np.int16),
    ('Last_Name', (np.str_, 20)), 
    ('First_Name', (np.str_, 20)), 
    ('Gender', (np.str_, 1)), 
    ('Title', (np.str_, 30))
])



#print(employee_table)

# first question
print(len(employee_table[np.where(employee_table['Gender'] == 'M')]))

#2 question
# employees_with_s_last_name = employee_table[np.char.startswith(employee_table['Last_Name'], 'S')]
# for employee in employees_with_s_last_name:
#     print(employee)


#3 Descending order based on first name 
# sorted_emps = np.argsort(employee_table['First_Name'], kind='quicksort')
# print('\n\n')
# for emp in employee_table[sorted_emps]:
#     print(emp)


#4 Extracting the table using fancy indexing
# print(employee_table.reshape((2,5)))

#5
femaleSort = np.argsort(employee_table['First_Name'][employee_table['Gender'] == 'F'])[::-1]
sorted_female_employees = employee_table[employee_table['Gender'] == 'F'][femaleSort]
print(sorted_female_employees)

6
[(1000, 'Torbati', 'Yolanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]

## Lab P8

In [2]:
import pandas as pd


movies = pd.read_csv(r'../csv_s/movies.csv')
# movies.head(5)

movies.describe()
print(movies.shape)
print(movies.info)

# print(movies.isnull())


#_------------------------------------------
#df_dropna = movies.dropna()          # Delete rows with missing values
# df_fillna = movies.fillna("RANDOM")    
# df_ffill = movies.ffill()            
# df_bfill = movies.bfill()  
#-------------------------------------------


# movies.ffill(axis=0)

# print(movies.isnull())
# df1 = movies['Year'].isna()
# print(df1)

# ---- this is working ----------
# f_new_movies = movies.ffill()
# b_new_movies = movies.bfill()
# print(movies.head(5))
# print(f_new_movies.head(5))
# print(b_new_movies.head(6))


# print(movies.groupby(['Audience score %']).first(102).mean())

# df2 =movies.groupby(['Genre']).first(40).sum()
# print(df2)


random_samples = movies.sample(20)

(77, 8)
<bound method DataFrame.info of                                   Film    Genre            Lead Studio
0           Zack and Miri Make a Porno  Romance  The Weinstein Company  \
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    NaN
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross    Year
0                 70       1.747542                 64         $41.94   2008.0
1                 52       1.090000                 68         $19.62   2010.0
2                 35       1.211818                 43         $26.66   2010.0
3                 44       0.000000                 15         $43.04      NaN
4                 72       6.267647                 28        $219.37   2008.0
..               ...            ...                ...             ...     ...
72                84       0.652603                 54         $29.37   2007.0
73                64       4.382857                 89         $30.68   2009.0
74                89       0.448645                 79          $8.97   2011.0
75                71       5.343622                 40        $160.31   2008.0
76                81       8.096000                 87         $60.72   2009.0

[77 rows x 8 columns]>
Audience score %       719.000000
Profitability           31.986636
Rotten Tomatoes %      619.000000
Year                 20090.000000
dtype: float64